[submodule "blog/themes/terminal"]
	path = blog/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/potato-dark"]
	path = themes/potato-dark
	url = https://github.com/surajmandalcell/potato-dark
